<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGhux9ymnIWi3Rn9oEcJwhajpbv6dOmD8</string>
	<key>GCM_SENDER_ID</key>
	<string>549920095819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cargo66.com</string>
	<key>PROJECT_ID</key>
	<string>cargo-66</string>
	<key>STORAGE_BUCKET</key>
	<string>cargo-66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549920095819:ios:453c3c65aa0eea219c57ce</string>
</dict>
</plist>